[slider-container] {
    overflow: hidden;
}

[slider-body] {
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

[slider-body__item][slider-active] {
    position: relative;
    /* right: 0; */
}

[slider-body__item][slider-nonactive] {
    display: none;
    position: absolute;
    /* right: 0; */
}

[slider-body__item][slider-active_next] {
    animation: 1s ease-in activeNext;
}

[slider-body__item][slider-nonactive_next] {
    animation: 1s ease-in nonActiveNext;
}

@keyframes nonActiveNext {
    0% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

@keyframes activeNext {
    0% {
        right: 100%;
    }
    100% {
        right: 0;
    }
}

[slider-body__item][slider-active_prev] {
    animation: 1s ease-in activePrev;
}

[slider-body__item][slider-nonactive_prev] {
    animation: 1s ease-in nonActivePrev;
}

@keyframes activePrev {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes nonActivePrev {
    0% {
        right: 0;
    }
    100% {
        right: 100%;
    }
}

[slider-button_prev] {}

[slider-button_next] {}

button {
    width: 100px;
    height: 30px;
    background-color: cadetblue;
    border-radius: 25px;
    margin: 25px;
    border: none;
}